<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Oshop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cart" routerLinkActive="active">Shopping Cart</a>
                </li>
                <ng-template #anonymousUser>
                    <li class="nav-item">
                        <a *ngIf="!user" class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                    </li>
                </ng-template>
               
                <li *ngIf="appUser$ | async as appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                        {{ appUser.name }}
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a ngbDropdownItem class="dropdown-item" routerLink="/my/orders">My Orders</a>
                        <ng-container *ngIf="appUser.isAdmin">
                            <a ngbDropdownItem class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                            <a ngbDropdownItem class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                        </ng-container>
                        <a ngbDropdownItem class="dropdown-item" (click)="logout()">Logout</a>  
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
