<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="save(f)">
            <div>
                <label for="productNumber" class="form-label">Product ID</label>
                <div class="input-group mb-3">
                    <input required [min]="1" #productNumber="ngModel" [(ngModel)]="product.productNumber" name="productNumber" type="number" class="form-control"
                        id="productNumber" placeholder="Product Number">
                </div>
                <div class="alert alert-danger" *ngIf="productNumber.touched && productNumber.invalid">
                    <div *ngIf="productNumber.errors.required">Product number is required.</div>
                    <div *ngIf="productNumber.errors.min">Product number should be positive.</div>
                </div>
            </div>

            <div>
                <label for="title" class="form-label">Title</label>
                <div class="input-group mb-3">
                    <input required #title="ngModel" [(ngModel)]="product.title" name="title" type="text" class="form-control" id="title"
                        placeholder="Product Name">
                </div>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    <div *ngIf="title.errors.required">Title is required.</div>
                </div>
            </div>

            <div>
                <label for="price" class="form-label">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">€</span>
                    <input required [min]="0" #price="ngModel" [(ngModel)]="product.price" name="price" type="number" id="price" class="form-control"
                        placeholder="Product Price">
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">Price is required.</div>
                    <div *ngIf="price.errors.min">Price should be positive.</div>
                </div>
            </div>


            <div>
                <label for="category" class="form-label">Category</label>
                <div class="input-group mb-3">
                    <select required #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-select">
                        <!-- <option selected> In which category your product belongs </option> -->
                        <option *ngFor="let category of categories$ | async" [value]="category.key">
                            {{ category.name }}
                        </option>
                    </select>
                </div>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    <div *ngIf="category.errors.required">Category is required.</div>
                </div>
            </div>

            <div>
                <label for="imageUrl" class="form-label">Image URL</label>
                <div class="input-group mb-3">
                    <input required url #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" type="text" class="form-control" id="imageUrl"
                        placeholder="https://www.example.com">
                </div>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
                    <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
                </div>
            </div>

            <button type="submit" [disabled]="f.invalid" class="btn btn-success">Save</button>
            <button *ngIf="id" type="button" (click)="delete()" class="btn btn-danger">Delete</button>
        </form>
    </div>

    <div class="col-md-6">
        <div class="col-md-6">
            <div *ngIf="title.value" class="card" style="width: 25rem;">
                <img class="card-img-top" [src]="product.imageUrl">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.price | currency:'EUR':string }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

