<div>
    <div class="align-center-flex">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h1>Thank you for your purchase!</h1>
                <hr>
                <div class="align-center-flex">
                    <div class="form-group">
                        <a class="fix btn btn-primary" [routerLink]="['/my/orders']">Show My Order</a>
                    </div>
                    <div class="form-group fix2">
                        <a class="fix btn  btn-success" [routerLink]="['/']">Order More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="align-center-flex">
        <h3>You will be redirected in 5 seconds.</h3>
    </div>
</div>
